<h2>Songs</h2>
{{#paper-form onSubmit=(action "submitSong") as |form|}}
  <div class="layout-row">
    <div class="layout-column flex-100">
      {{form.input label="Title" value=title onChange=(action (mut title)) required=true}}
    </div>
  </div>
  <div class="layout-row">
    <div class="layout-column flex-50">
      {{form.input label="Artist Name" value=artistName onChange=(action (mut artistName))}}
      {{form.input label="Album Name" value=albumName onChange=(action (mut albumName))}}
      {{form.input type="url" label="Album Cover" value=albumCover onChange=(action (mut albumCover))}}
    </div>
    <div class="layout-column flex-50">
      {{#paper-select
        label="Genre"
        options=genres
        selected=selectedGenre
        onChange=(action (mut selectedGenre))
        as |genre|}}
        {{genre.name}}
      {{/paper-select}}
      {{form.input type="number" label="Year of release" value=year onChange=(action (mut year)) min=1500 max=2019}}
      {{form.input type="url" label="Spotify link" value=spotifyLink onChange=(action (mut spotifyLink))}}
    </div>
  </div>
  <div class="layout-row">
    {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
  </div>
{{/paper-form}}
{{paper-divider}}
{{#paper-list}}
  {{#paper-subheader}}Songs{{/paper-subheader}}
  {{#each model as |songs|}}
    {{#paper-item class="md-2-line" as |controls|}}
      {{paper-icon "play_circle_filled" class="md-avatar-icon"}}
      <div class="md-list-item-text">
        <h3>{{songs.title}}</h3>
        <p>{{songs.artistName}}</p>
      </div>
      {{#controls.button secondary=true iconButton=true }}
        {{paper-icon "edit"}}
      {{/controls.button}}
    {{/paper-item}}
  {{/each}}
{{/paper-list}}
